In [2]:
import pandas as pd
import numpy as np

In [85]:
dataset= pd.read_csv(r"C:\Users\ADMIN\Downloads\bios.csv")

In [86]:
dataset['Sex'] = dataset['Sex'].str.strip()

In [87]:
dataset.drop(columns = 'Full name', inplace = True)

In [94]:
dataset["Used name"] = dataset["Used name"].str.replace("•", " ", regex=False).str.strip()

In [98]:
dataset['Used name'] = dataset['Used name'].str.lower()

In [100]:
dataset['Used name'] = dataset['Used name'].str.title()

In [107]:
dataset['NOC'] = dataset['NOC'].str.strip()

In [ ]:
columns_to_drop = ['Nick/petnames', 'Title(s)',
       'Other names', 'Nationality', 'Original name', 'Name order']

In [116]:
dataset.drop(columns= columns_to_drop, inplace= True)

In [121]:
dataset = dataset[['athlete_id', 'Roles', 'Sex', 'Used name', 'Born', 'Died', 'NOC',
       'Measurements', 'Affiliations']]

In [123]:
dataset.rename(columns= {'athlete_id': 'Athlete_ID', 'Used name': 'Used_name'}, inplace= True)

In [124]:
dataset.head(3)

,Athlete_ID,Roles,Sex,Used_name,Born,Died,NOC,Measurements,Affiliations
0,1,Competed in Olympic Games,Male,Jean-François Blanchy,"12 December 1886 in Bordeaux, Gironde (FRA)","2 October 1960 in Saint-Jean-de-Luz, Pyrénées-...",France,NaN,NaN
1,2,Competed in Olympic Games,Male,Arnaud Boetsch,"1 April 1969 in Meulan, Yvelines (FRA)",NaN,France,183 cm / 76 kg,"Racing Club de France, Paris (FRA)"
2,3,Competed in Olympic Games • Administrator,Male,Jean Borotra,"13 August 1898 in Biarritz, Pyrénées-Atlantiqu...","17 July 1994 in Arbonne, Pyrénées-Atlantiques ...",France,183 cm / 76 kg,"TCP, Paris (FRA)"