In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset= pd.read_csv(r"C:\Users\ADMIN\Downloads\bios.csv")

In [5]:
dataset['Sex'] = dataset['Sex'].str.strip()

In [6]:
dataset.drop(columns = 'Full name', inplace = True)

In [7]:
dataset["Used name"] = dataset["Used name"].str.replace("â€¢", " ", regex=False).str.strip()

In [8]:
dataset['Used name'] = dataset['Used name'].str.lower()

In [9]:
dataset['Used name'] = dataset['Used name'].str.title()

In [10]:
dataset['NOC'] = dataset['NOC'].str.strip()

In [11]:
columns_to_drop = ['Nick/petnames', 'Title(s)',
       'Other names', 'Nationality', 'Original name', 'Name order']

In [12]:
dataset.drop(columns= columns_to_drop, inplace= True)

In [13]:
dataset = dataset[['athlete_id', 'Roles', 'Sex', 'Used name', 'Born', 'Died', 'NOC',
       'Measurements', 'Affiliations']]

In [14]:
dataset.rename(columns= {'athlete_id': 'Athlete_ID', 'Used name': 'Used_name'}, inplace= True)

In [22]:
dataset[['Height_cm', 'Weight_kg']]= dataset["Measurements"].str.split("/", expand= True)

In [24]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145500 entries, 0 to 145499
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Athlete_ID    145500 non-null  int64
 1   Roles         145500 non-null  object
 2   Sex           145500 non-null  object
 3   Used_name     145500 non-null  object
 4   Born          143772 non-null  object
 5   Died          34042 non-null   object
 6   NOC           145499 non-null  object
 7   Measurements  107833 non-null  object
 8   Affiliations  95832 non-null   object
 9   Height_cm     107833 non-null  object
 10  Weight_kg     103028 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.2+ MB