In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r"C:\Users\ADMIN\Downloads\archive\Airbnb_Open_Data.csv")
dataset.info()

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10468\2589844939.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv(r"C:\Users\ADMIN\Downloads\archive\Airbnb_Open_Data.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [8]:
dataset.columns

Index(['id', 'NAME', 'host id', 'host_identity_verified', 'host name',
       'neighbourhood group', 'neighbourhood', 'lat', 'long', 'country',
       'country code', 'instant_bookable', 'cancellation_policy', 'room type',
       'Construction year', 'price', 'service fee', 'minimum nights',
       'number of reviews', 'last review', 'reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license'],
      dtype='object')

In [9]:
columns_to_drop = ['id','reviews per month',
       'review rate number', 'calculated host listings count',
       'availability 365', 'house_rules', 'license']
len(columns_to_drop)

7

In [ ]:
dataset.drop(columns=columns_to_drop, inplace=True)

19

In [18]:
new_column_names = []
for column in dataset.columns:
    new_column_names.append(column.upper())

In [19]:
new_dataset = dataset.copy()

In [22]:
new_dataset.columns = new_column_names
new_dataset.columns

Index(['NAME', 'HOST ID', 'HOST_IDENTITY_VERIFIED', 'HOST NAME',
       'NEIGHBOURHOOD GROUP', 'NEIGHBOURHOOD', 'LAT', 'LONG', 'COUNTRY',
       'COUNTRY CODE', 'INSTANT_BOOKABLE', 'CANCELLATION_POLICY', 'ROOM TYPE',
       'CONSTRUCTION YEAR', 'PRICE', 'SERVICE FEE', 'MINIMUM NIGHTS',
       'NUMBER OF REVIEWS', 'LAST REVIEW'],
      dtype='object')

In [25]:
new_dataset.duplicated().value_counts()

False    102058
True        541
Name: count, dtype: int64

In [26]:
new_dataset.drop_duplicates(inplace=True)

In [32]:
new_dataset.isna().sum()

NAME                      250
HOST ID                     0
HOST_IDENTITY_VERIFIED    289
HOST NAME                 404
NEIGHBOURHOOD GROUP        29
NEIGHBOURHOOD              16
LAT                         8
LONG                        8
COUNTRY                   532
COUNTRY CODE              131
INSTANT_BOOKABLE          105
CANCELLATION_POLICY        76
ROOM TYPE                   0
CONSTRUCTION YEAR         214
PRICE                     247
SERVICE FEE               273
MINIMUM NIGHTS            400
NUMBER OF REVIEWS         183
dtype: int64

In [30]:
new_dataset.drop(columns = 'LAST REVIEW', inplace=True)

In [33]:
new_dataset.dropna(inplace=True)

In [39]:
new_dataset['HOST_IDENTITY_VERIFIED'] = new_dataset['HOST_IDENTITY_VERIFIED'].str.capitalize()

In [42]:
new_dataset['INSTANT_BOOKABLE'] = new_dataset['INSTANT_BOOKABLE'].apply(lambda x: 1 if x == 'True' else 0)

In [45]:
new_dataset.reset_index(drop=True, inplace=True)

In [51]:
new_dataset['PRICE'] = new_dataset['PRICE'].str.replace('$','')

In [54]:
new_dataset['PRICE'] = new_dataset['PRICE'].str.replace(',','')

In [55]:
new_dataset['PRICE'] = new_dataset['PRICE'].str.replace(' ','')

In [59]:
new_dataset['PRICE'] = new_dataset['PRICE'].astype(int)

In [63]:
new_dataset.to_csv('cleaned_dataset.csv', index=False)

In [64]:
pd.read_csv('cleaned_dataset.csv')

,NAME,HOST ID,HOST_IDENTITY_VERIFIED,HOST NAME,NEIGHBOURHOOD GROUP,NEIGHBOURHOOD,LAT,LONG,COUNTRY,COUNTRY CODE,INSTANT_BOOKABLE,CANCELLATION_POLICY,ROOM TYPE,CONSTRUCTION YEAR,PRICE,SERVICE FEE,MINIMUM NIGHTS,NUMBER OF REVIEWS
0,Clean & quiet apt home by the park,80014485718,Unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,US,0,strict,Private room,2020.0,966,$193,10.0,9.0
1,Skylit Midtown Castle,52335172823,Verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,US,0,moderate,Entire home/apt,2007.0,142,$28,30.0,45.0
2,Entire Apt: Spacious Studio/Loft by central park,92037596077,Verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,US,0,moderate,Entire home/apt,2009.0,204,$41,10.0,9.0
3,Large Cozy 1 BR Apartment In Midtown East,45498551794,Verified,Michelle,Manhattan,Murray Hill,40.74767,-73.97500,United States,US,0,flexible,Entire home/apt,2013.0,577,$115,3.0,74.0
4,BlissArtsSpace!,90821839709,Unconfirmed,Emma,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,United States,US,0,moderate,Private room,2009.0,1060,$212,45.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99337,Cozy room in a 2B with backyard access,5155155913,Unconfirmed,Cristina,Queens,Astoria,40.76987,-73.92679,United States,US,0,flexible,Private room,2018.0,822,$164,1.0,9.0
99338,An East Williamsburg Delight,71564706996,Verified,Petra,Brooklyn,Bedford-Stuyvesant,40.68335,-73.91222,United States,US,0,moderate,Private room,2015.0,455,$91,4.0,36.0
99339,Cozy bedroom in williamsburg,83101851929,Verified,Russell,Brooklyn,Williamsburg,40.70870,-73.96710,United States,US,0,flexible,Private room,2020.0,1078,$216,1.0,58.0
99340,Spacious Room w/ 2 Bed,69037598918,Unconfirmed,Christine,Queens,Bayside,40.75047,-73.75349,United States,US,0,moderate,Private room,2007.0,103,$21,7.0,40.0
99341,"Room in Queens, NY, near LGA.",56457739998,Verified,Sonia,Queens,East Elmhurst,40.76245,-73.87938,United States,US,0,strict,Private room,2022.0,982,$196,1.0,239.0