In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [ ]:
# Pandas series from a list with default index
data = [10,20,30,60,70,100]
pd.Series(data)

0     10
1     20
2     30
3     60
4     70
5    100
dtype: int64

In [ ]:
# Pandas series from a list with custom index
data = [10,20,30,60,70,100]
index = ['a', 'b', 'c', 'd', 'e', 'f']
pd.Series(data, index = index)

a     10
b     20
c     30
d     60
e     70
f    100
dtype: int64

In [6]:
# Pandas series from a dictionary
data = {'a' : 10, 'b': 20, 'c': 30, 'd': 60, 'e': 70, 'f': 100}
pd.Series(data)

a     10
b     20
c     30
d     60
e     70
f    100
dtype: int64

In [2]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
sepal_and_speacies = iris.iloc[:, :2]
sepal_and_speacies.head(10)

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4
8           4.4          2.9
9           4.9          3.1

In [10]:
iris['sepal_area'] = iris['sepal_length'] * iris['sepal_width']
iris.head(6)

   sepal_length  sepal_width  petal_length  petal_width species  sepal_area
0           5.1          3.5           1.4          0.2  setosa       17.85
1           4.9          3.0           1.4          0.2  setosa       14.70
2           4.7          3.2           1.3          0.2  setosa       15.04
3           4.6          3.1           1.5          0.2  setosa       14.26
4           5.0          3.6           1.4          0.2  setosa       18.00
5           5.4          3.9           1.7          0.4  setosa       21.06

In [15]:
iris['is_flower'] =True
iris.head(7)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,is_flower
0,5.1,3.5,1.4,0.2,setosa,17.85,True
1,4.9,3.0,1.4,0.2,setosa,14.70,True
2,4.7,3.2,1.3,0.2,setosa,15.04,True
3,4.6,3.1,1.5,0.2,setosa,14.26,True
4,5.0,3.6,1.4,0.2,setosa,18.00,True
5,5.4,3.9,1.7,0.4,setosa,21.06,True
6,4.6,3.4,1.4,0.3,setosa,15.64,True

In [16]:
iris = iris.drop(columns = ['is_flower', 'sepal_area'])
iris.head(8)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa

In [18]:
iris[iris['sepal_length'] > 5.0].head(10)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
10           5.4          3.7           1.5          0.2  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa

In [25]:
iris['sepal_length'].mean()

np.float64(5.843333333333334)

In [3]:
iris['sepal_length_mm'] = iris['sepal_length'].apply(lambda x: x *10)

In [5]:
iris['sepal_sum'] = iris.apply(lambda x: x['sepal_length'] + x['sepal_width'], axis = 1)

In [6]:
iris.head(10)

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_mm,sepal_sum
0,5.1,3.5,1.4,0.2,setosa,51.0,8.6
1,4.9,3.0,1.4,0.2,setosa,49.0,7.9
2,4.7,3.2,1.3,0.2,setosa,47.0,7.9
3,4.6,3.1,1.5,0.2,setosa,46.0,7.7
4,5.0,3.6,1.4,0.2,setosa,50.0,8.6
5,5.4,3.9,1.7,0.4,setosa,54.0,9.3
6,4.6,3.4,1.4,0.3,setosa,46.0,8.0
7,5.0,3.4,1.5,0.2,setosa,50.0,8.4
8,4.4,2.9,1.4,0.2,setosa,44.0,7.3
9,4.9,3.1,1.5,0.1,setosa,49.0,8.0

In [12]:
grouped = iris.groupby('species').agg(['mean', 'std', 'min', 'max'])
grouped

           sepal_length                     sepal_width                      \
                   mean       std  min  max        mean       std  min  max
species
setosa            5.006  0.352490  4.3  5.8       3.428  0.379064  2.3  4.4
versicolor        5.936  0.516171  4.9  7.0       2.770  0.313798  2.0  3.4
virginica         6.588  0.635880  4.9  7.9       2.974  0.322497  2.2  3.8

           petal_length            ... petal_width      sepal_length_mm  \
                   mean       std  ...         min  max            mean
species                            ...
setosa            1.462  0.173664  ...         0.1  0.6           50.06
versicolor        4.260  0.469911  ...         1.0  1.8           59.36
virginica         5.552  0.551895  ...         1.4  2.5           65.88

                                 sepal_sum
                 std   min   max      mean       std  min   max
species
setosa      3.524897  43.0  58.0     8.434  0.682914  6.8  10.1
versicolor  5.161711  49.0  70.0     8.706  0.731621  7.0  10.2
virginica   6.358796  49.0  79.0     9.562  0.834190  7.4  11.7

[3 rows x 24 columns]

In [15]:
#Rename specific columns
iris_renamed = iris.rename(columns={
    'sepal_length': 'Sepal_Length',
    'sepal_width': 'Sepal_Width',
    'species': 'Species'
})

iris_renamed.head(10)

,Sepal_Length,Sepal_Width,petal_length,petal_width,Species,sepal_length_mm,sepal_sum
0,5.1,3.5,1.4,0.2,setosa,51.0,8.6
1,4.9,3.0,1.4,0.2,setosa,49.0,7.9
2,4.7,3.2,1.3,0.2,setosa,47.0,7.9
3,4.6,3.1,1.5,0.2,setosa,46.0,7.7
4,5.0,3.6,1.4,0.2,setosa,50.0,8.6
5,5.4,3.9,1.7,0.4,setosa,54.0,9.3
6,4.6,3.4,1.4,0.3,setosa,46.0,8.0
7,5.0,3.4,1.5,0.2,setosa,50.0,8.4
8,4.4,2.9,1.4,0.2,setosa,44.0,7.3
9,4.9,3.1,1.5,0.1,setosa,49.0,8.0

In [4]:
dataSet = sns.load_dataset('penguins')
dataSet.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,Male
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,Male
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [12]:
dataSet.sort_values(by= 'bill_length_mm').tail(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
191,Chinstrap,Dream,53.5,19.9,205.0,4500.0,Male
183,Chinstrap,Dream,54.2,20.8,201.0,4300.0,Male
283,Gentoo,Biscoe,54.3,15.7,231.0,5650.0,Male
335,Gentoo,Biscoe,55.1,16.0,230.0,5850.0,Male
215,Chinstrap,Dream,55.8,19.8,207.0,4000.0,Male
321,Gentoo,Biscoe,55.9,17.0,228.0,5600.0,Male
169,Chinstrap,Dream,58.0,17.8,181.0,3700.0,Female
253,Gentoo,Biscoe,59.6,17.0,230.0,6050.0,Male
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN